{% extends 'pets/base.html' %}
{% load static %}

{% block title %}Solicitudes Enviadas{% endblock %}

{% block content %}
<div class="container my-5">

    <h2 class="mb-4"> Solicitudes que enviaste</h2>

    <p>
        <a href="{% url 'bandeja' %}" class="btn btn-outline-secondary">
            ← Volver a solicitudes recibidas
        </a>
    </p>

    {% if solicitudes %}
        <div class="list-group">
            {% for s in solicitudes %}
                <div class="list-group-item py-3">
                    <h5>Solicitaste adoptar a <strong>{{ s.pet.name }}</strong></h5>
                    <p><strong>Mensaje:</strong> {{ s.mensaje }}</p>
                    <p><strong>Fecha:</strong> {{ s.fecha }}</p>

                    {% if s.estado_solicitud == 'pendiente' %}
                        <p class="text-warning fw-bold">⏳ Pendiente</p>

                    {% elif s.estado_solicitud == 'aceptada' %}
                        <p class="text-success fw-bold">✔ Aceptada</p>

                    {% elif s.estado_solicitud == 'rechazada' %}
                        <p class="text-danger fw-bold">✘ Rechazada</p>

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">No has enviado ninguna solicitud.</p>
    {% endif %}
</div>
{% endblock %}
