.logo-perrito {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff4d4d;
    transition: transform 0.3s ease;
}

.logo-perrito:hover {
    transform: scale(1.1);
}


.buscador-contenedor {
    width: 100%;
    max-width: 600px;
}

.buscador {
    border-radius: 50px;
}

